<!DOCTYPE html>
<html>
  <head>
    <title>Garpar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "document", "data-turbo-track": "reload" %>
    <!-- You should properly set the path from the main file. -->

    <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    
  </head>

  <body>
    <div class="container print"> 
      <div class="space-top"></div>
      <%= yield %>
      
    </div>
  </body>
</html>
